# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Personal\Education\University of Kelaniya CS\3rd Year\2 Sem\CSCI 32052 - Distributed Systems & Cloud Computing\Assignment\Assignment Answer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
